@model IEnumerable<Shelter.Model.Models.AnimalParent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnimal.cshtml";
}

<h1 class="mb-0 bread">ANIMAL PARENTS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentJob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
